# Default: normalize text files (LF in repo).
* text=auto

# Source code and configs
# - Keep LF in repo, but allow CRLF checkout on Windows to avoid warnings
*.go text eol=lf
*.ts text eol=lf
*.tsx text eol=crlf
*.css text eol=crlf
*.js text eol=lf
*.jsx text eol=lf
*.mjs text eol=lf
*.cjs text eol=lf
*.json text eol=lf
*.md text eol=lf
*.sql text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.env text eol=lf

# Windows scripts
*.ps1 text eol=crlf
*.bat text eol=crlf
*.cmd text eol=crlf
