# Remote repo hanya berisi paket migrasi. File/folder lain di root workspace
# tetap ada secara lokal tetapi tidak akan ter-commit.
/*
!.gitignore
!E-BPHTB_MIgration_push_server/
!E-BPHTB_MIgration_push_server/**
