TRUNCATE TABLE sys_notifications;
-- Hapus semua data notification yang mengandung emoji
TRUNCATE TABLE sys_notifications;
-- Reset sequence untuk id
ALTER SEQUENCE sys_notifications_id_seq RESTART WITH 1;
-- Verifikasi tabel kosong
SELECT COUNT(*) FROM sys_notifications;
