-- Hapus semua data dari ltb_1_terima_berkas_sspd kecuali 2 booking tertentu
DELETE FROM ltb_1_terima_berkas_sspd 
WHERE nobooking NOT IN ('20011-2025-000010', '20011-2025-000011');

-- Verifikasi data yang tersisa
SELECT COUNT(*) as remaining_records FROM ltb_1_terima_berkas_sspd;

-- Tampilkan data yang tersisa
SELECT id, nobooking, tanggal_terima, status, trackstatus, userid, namawajibpajak, namapemilikobjekpajak, no_registrasi 
FROM ltb_1_terima_berkas_sspd 
ORDER BY created_at DESC;
